.userWrapper {
    box-sizing: border-box;
    padding: 20px;
    width:15%;
    height: 200px;
    background-color: #999999;
    margin: 0 20px 30px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #808080;
}

.avatar {
    width: 80%;
    height: 80px;
    margin-left: 18px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #808080;
}

.name {
    font-size: 1.05rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: #333333;
    margin-top: 5px;
    cursor: pointer;
}

.username {
    font-size: 1.02rem;
    font-family: 'Acme', sans-serif;
    color: #333333;
    text-align: center;
    cursor: pointer;
}