.usersWrapper {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

